/* Feuille de style spécifique à la vue Index de Expense */

.custom-table-header {
    background-color: #08a045;
    color: white;
    text-align: center;
}

.custom-table-info td {
    color: black;
    font-weight: bold;
}

.custom-table-info {
    background-color: white;
}