/* Feuille de style spécifique à la vue Index de Expense */

.custom-table-header {
    background-color: #08a045;
    color: white;
    text-align: center;
}

.table {
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .table thead th {
        background-color: #08a045;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .table tbody tr:nth-child(even) {
        background-color: white;
    }

    .table tbody tr:hover {
        background-color: white;
    }

.custom-table-info td {
    color: black;
    font-weight: bold;
}

.custom-table-info {
    background-color: white;
}