html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.circle-img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
}

.welcome-section {
    margin-top: 20px;
}

    .welcome-section h1 {
        margin-bottom: 20px;
        font-size: 3rem; /* Taille du texte pour la bienvenue */
        color: #08a045; /* Couleur du texte */
    }

    .welcome-section img {
        height: 300px; /* Taille du logo */
        margin-bottom: 20px;
    }

.tagline {
    font-size: 1.25rem;
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
}

.custom-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les boutons */
    margin-top: 20px;
}

.custom-button {
    background-color: #548c2f;
    color: white;
    border: none;
    padding: 15px 30px; /* Taille du bouton */
    border-radius: 0.5rem; /* Coins arrondis plus marqués */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem; /* Taille du texte sur le bouton */
}

    .custom-button:hover {
        background-color: #06a03d;
        color: white;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        transform: scale(1.05); /* Effet de zoom au survol */
    }

    .custom-button:active {
        transform: scale(1); /* Réinitialise l'effet de zoom lorsque le bouton est cliqué */
    }

/* Expenses : Index Create Details Edit */

.custom-header {
    background-color: #08a045;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 0.25rem;
}

.form-control {
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

    .form-control:focus {
        border-color: #08a045;
        box-shadow: 0 0 0 0.2rem rgba(8, 160, 69, 0.25);
    }

.btn-primary {
    background-color: #08a045;
    border-color: #08a045;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .btn-primary:hover {
        background-color: #06a03d;
        border-color: #06a03d;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.btn-custom {
    background-color: #08a045; /* Couleur de fond verte */
    border-color: #08a045; /* Bordure verte */
    border-radius: 0.25rem;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .btn-custom:hover {
        background-color: #007d1e; /* Couleur de fond verte plus foncée au survol */
        border-color: #007d1e; /* Bordure verte plus foncée au survol */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.text-danger {
    color: #dc3545;
}

.action-link {
    color: #073b3a;
    font-size: 1rem; /* Taille du texte */
    margin-top: 10px;
    display: inline-block;
}

.action-links a {
    color: #073b3a;
    font-size: 1.2rem;
    margin: 0 5px;
}

.action-links i {
    transition: color 0.3s;
}

    .action-link:hover {
        color: #0056b3;
    }