/* Feuille de style spécifique aux vues Index et Details de Category, Index de Group et Index de Expense */

.table {
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .table thead th {
        background-color: #74a57f;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .table tbody tr:nth-child(even) {
        background-color: white;
    }

    .table tbody tr:hover {
        background-color: #f8f9fa; /* Couleur de fond légèrement grise au survol pour contraste */
    }