@model TrueBalances.Models.Group

@{
    ViewData["Title"] = "Confirmer la suppression";
}

<h1 class="display-4 text-center my-4">Confirmer la suppression</h1>

<div class="text-center">
    <h2 class="my-4">Êtes-vous sûr de vouloir supprimer le groupe "<strong>@Model.Name</strong>"?</h2>
    @* @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid mb-4" style="max-height: 200px; max-width: 300px;" />
    } *@
    <p class="text-danger">Cette action supprimera également toutes les dépenses et les membres associés à ce groupe.</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group text-center">
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a asp-action="Index" class="btn btn-secondary">Annuler</a>
    </div>
</form>
