@model TrueBalances.Models.ViewModels.GroupViewModel

@{
    ViewData["Title"] = "Modifier le groupe";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-header text-white text-center" style="background-color: #4CAF50;">
                    <h2 class="mb-0">Modifier le groupe</h2>
                </div>
                <div class="card-body p-4">
                    <form asp-action="Edit" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Group.Id" />

                        <div class="form-group mb-4">
                            <label asp-for="Group.Name" class="control-label">Nom du groupe</label>
                            <input asp-for="Group.Name" class="form-control" />
                            <span asp-validation-for="Group.Name" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-4">
                        <label class="control-label">Membres du groupe :</label>
                        </div>
                        <div class="form-group">
                            @if (Model.Users.Any())
                            {
                                @foreach (var user in Model.Users)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="SelectedUserIds" value="@user.Id"
                                        @(Model.Group.Members.Any(m => m.CustomUserId == user.Id) ? "checked" : "") />
                                        <label class="form-check-label">
                                            @user.UserName
                                        </label>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-center">Aucun utilisateur disponible</p>
                            }
                        </div>

                        <div class="form-group text-center mt-4">
                            <input type="submit" value="Modifier" class="btn btn-primary" />
                            <a asp-action="Details" asp-route-id="@Model.Group.Id" class="btn btn-secondary">Retour</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
