<div id="cookieConsent" class="cookie-consent" style="display: none;">
    <p>Nous utilisons des cookies pour améliorer votre expérience. En continuant à utiliser notre site, vous acceptez notre utilisation des cookies. <a href="@Url.Action("Privacy", "Home")">En savoir plus</a></p>
    <button id="acceptCookies">Accepter</button>
</div>

<style>
    .cookie-consent {
        position: fixed;
        bottom: 0;
        background-color: #000;
        color: #fff;
        width: 100%;
        padding: 15px;
        text-align: center;
    }
</style>
