@model UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="custom-header">
    @* <h1>TrueBalances</h1> *@
</div>

<div class="text-center welcome-section">
    <h1 class="display-4">
        @if (User.Identity.IsAuthenticated)
        {
            @:Bienvenue @Model.FirstName @Model.LastName
        }
        else
        {
            @:Bienvenue
        }
    </h1>
    <p class="tagline">Les bons comptes font les bons amis : TrueBalances vous permet de partager et de gérer vos dépenses collectives,</p>
    <p class ="tagline"> pour que chaque instant passé ensemble soit un souvenir inoubliable.</p>
    <img src="~/logoTrue.png" alt="Logo de l'application">

    <div class="custom-buttons">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="custom-button" asp-controller="Expense" asp-action="Index">Gérer les dépenses</a>
            <a class="custom-button" asp-controller="Category" asp-action="Index">Gérer les catégories</a>
            <a class="custom-button" asp-controller="Group" asp-action="Index">Gérer les groupes</a>
        }
        else
        {
            <a class="custom-button" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
            <a class="custom-button" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
        }
    </div>
</div>

@section Scripts {
    <script>
        document.querySelectorAll('.custom-button').forEach(button => {
            button.addEventListener('click', () => {
                button.classList.add('clicked');
                setTimeout(() => button.classList.remove('clicked'), 200);
            });
        });
    </script>
}
