@model UserViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <text>Hello, @Model.FirstName @Model.LastName (@Model.Username)!</text>
        }
        else
        {
            <text>Hello, Anonymous!</text>
        }
    </p>
</div>