@model UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        @if (User.Identity.IsAuthenticated)
        {
            @:Bienvenue @Model.FirstName @Model.LastName
        }
        else
        {
            @:Bienvenue visiteur
        }
    </h1>

    <form>
        <div class="d-grid gap-2 col-6 mx-auto">
            @if (User.Identity.IsAuthenticated)
            {
            <a class="btn btn-outline-primary" asp-controller= "Expense" asp-action="Index">Gérer les dépenses</a>                <a class="btn btn-outline-primary">Gérer les catégories</a>
                <a class="btn btn-outline-primary">Gérer les groupes</a>
            }
            else
            {
                <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
                <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
            }
        </div>
    </form>
</div>
